.cursor{
    cursor: pointer;
}

.mt24{
    margin-top: 24px;
}
.mt64{
    margin-top: 64px;
}

.btn1{
    display: flex;
    height: 32px;
    padding: 0px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    border: 1px solid #3A3A40;

    color: #16E76D;
}